My workflow 2.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return [\n  {\n    \"Loan_ID\": \"L-9942\",\n    \"Grade\": \"E\",\n    \"Interest_Rate\": \"21.5%\",\n    \"Debt_to_Income_Ratio\": \"42%\",\n    \"Income_Category\": \"Low (0-50k)\",\n    \"Employment_Length\": \"1 year\",\n    \"Purpose\": \"Debt Consolidation\",\n    \"Status\": \"Bad Loan\"\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "6378bd10-4448-4b56-8ccb-2588d0ee2559",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://httpbin.org/post",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        976,
        0
      ],
      "id": "4e890382-d648-4fd4-be57-701a2099d23a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "path": "cb2492f8-caa6-4fcd-a238-4175b3e53be7",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "4c916a3f-7f78-452f-a676-46920ed524ea",
      "name": "Webhook",
      "webhookId": "cb2492f8-caa6-4fcd-a238-4175b3e53be7"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama-3.3-70b-versatile",
          "mode": "list",
          "cachedResultName": "LLAMA-3.3-70B-VERSATILE"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a Risk Analysis AI. A user has asked: \"Why is this loan classified as a Bad Loan?\"\n​Review the borrower's profile below and provide a short, human-readable explanation of the risk factors. Compare these factors to what a \"Good Loan\" typically looks like.\n​Loan Profile:\nGrade: {{$json.Grade}}\nInterest Rate: {{$json.Interest_Rate}}\nDTI: {{$json.Debt_to_Income_Ratio}}\nIncome: {{$json.Income_Category}}\nEmployment: {{$json.Employment_Length}}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "store": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        624,
        0
      ],
      "id": "f7e246c0-6783-400c-b518-6ada9e0a2a53",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "M269lKghHOBFnVcb",
          "name": "OpenAI account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        []
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "dbbc6024-0e50-457d-a845-fad7f8a56c95",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fb21a8e5ffc2ae62fde5e64bb846a47e8e995a613e1063eef5fe30749498054c"
  },
  "id": "GbFyK3fafMWGjc8y",
  "tags": []
}